server:
  port: 8800

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dati?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
    static-path-pattern: /static/**
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.dati.pojo

logging:
  level:
    root: INFO
    'com.example.dati': DEBUG
    'org.springframework.web': INFO
    'org.apache.ibatis': INFO